footer {
  background-color: gray;
  color: #ffffff; 
}

footer .row{
  justify-content: space-between;
}

article .row{
  justify-content: center;
}

.navbar-nav .nav-item-current {
  font-weight: bolder;
  background-color: black;
  padding: 1px 1px 1px 1px; }

.logo{
  width: 150px;
}