/* Fonts */

@font-face {
  font-family: Atarian;
  src: url(/Fonts/sf_atarian_system-webfont.woff);
}
@font-face {
  font-family: AtarianBold;
  src: url(/Fonts/sf_atarian_system_bold-webfont.woff);
}
@font-face {
  font-family: AtarianItalic;
  src: url(/Fonts/sf_atarian_system_bold_italic-webfont.woff);
}

a.nav-link{
  font-family: AtarianBold;
  font-size: 30px;
  color: #F1802D;
}

a.nav-link:hover{
  font-family: AtarianBold;
  font-size: 30px;
  color: #913c00;
}

article h1.title{
  font-family: AtarianBold;
  font-size: 50px;
}

article h3.subtitle{
  font-family: Atarian;
  font-size: 35px;
}

article p.about-game{
  text-align: justify;
}

article p.text{
  font-family: Atarian;
  font-size: 20px;
}

form label{
  font-family: Atarian;
  font-size: 20px;
}

/* Fonts */





/* Footer */

footer {
  background-color:#123740;
  color: #ffffff; 
  margin-top: 20px;
  font-family: Atarian;
  font-size: 20px;
}

footer .row{
  justify-content: space-between;
}
div.text-center.row.d-flex{
  max-width: 100%;
}

/* Footer */





/* Article */

article .row{
  justify-content: center;
}

/* Article */





/* Navbar */

nav.navbar{
  background-color: #123740;
}
.navbar-nav .nav-item-current {
  font-weight: bolder;
  border-radius: 25px;
  background-color: #243f46;
  padding: 1px 1px 1px 1px; 
}

nav #navbarSupportedContent{
  justify-content: center;
}

nav li.nav-item{
  margin-right: 50px;
}

nav li.nav-item-current{
  margin-right: 50px;
}

nav a.btn.register{
  margin-right: 30px;
  background-color: #B0D7E1;
  border-radius: 15px;
  font-family: AtarianBold;
  font-size: 20px;
  color: #549AAB;
}

nav a.btn.login{
  margin-right: 15px;
  background-color: #B0D7E1;
  border-radius: 15px;
  font-family: AtarianBold;
  font-size: 20px;
  color: #549AAB;
}

nav a.btn:hover{
  color: #2c4e57;
}

.navbar-toggle{
  color:white
}
.navbar-toggler-icon{
  font-size: 20px;
}

/* Navbar */





/* Photos */

.logo{
  width: 70px;
  margin-left: 20px;
}

.logo-sign{
  overflow: hidden;
  max-width: 20%;
  margin: 0 auto;
  display: flex;
  padding-top: 50px;
  font-family: Atarian;
}

article i.icon{
  font-size: 30px;
}

img.img-fluid.photo{
  max-width: 100%;
}

/* Photos */




/* Containers */

article.container.row{
  margin: 0 auto;
}

div.transition{
  margin-bottom: 70px;
}
/* Containers */





/* Form */

form.container{
  max-width: 650px;
  margin-top: 30px;
  margin: 0 auto;
}

form .checkbox{
  margin-top: 10px;
}

div button.btn{
  background-color: #B0D7E1;
  border-radius: 15px;
  font-family: AtarianBold;
  font-size: 30px;
  color: #549AAB;
  border: 0px;
}

form.contact{
  margin-top: 20px;
}

/* Form */





/* Video */

div.video{
  height: 500px;
}

iframe.embed-responsive-item{
  width: 100%;
  height: 100%;
}

/* Video */





/* Carousel */

div#carousel.container.carousel.slide{
  max-width: 70%;
}

/* Carousel */





/* Transitions */

.transition{
  animation: transitionIn 1.5s;
}

@keyframes transitionIn{
  from{
    opacity: 0;
    transform: rotateX(-10deg);
  }

  to{
    opacity: 1;
    transform: rotateX(0);
  }
}

/* Transitions */




/* Cards */

div.card{
  width: 466px;
}

div.card.card-1, .card-3{
  margin-right: 20px;
}

div.row.row-1{
  margin-bottom: 20px;
}

/* Cards */
